    <!-- SIDEBAR NAV -->
    <div class="sidenav-wrap" id="sidenav_js">
      <div class="sidenav_header">
          <div class="logo-nombre">
              <h1 class="UAE">UAE</h1>
              <p>Universidad Albert Einstein</p>
          </div>
      </div>
      <br>
      <p class="titulo-menu">MENU</p>
      <nav>
          <a routerLink="/dashboard/personas" class="link d-flex align-items-center link-usuario">
              <span class="material-symbols-outlined">
                  person
              </span>
              <p>Personas</p>
          </a>

      </nav>
  </div>
  <!-- END SIDEBAR NAV -->
